modules = ["bash"]
compile = "make"
run = "./rebar3 shell"

[nix]
channel = "stable-24_05"
packages = ["erlang_27"]

[deployment]
build = ["sh", "-c", "make"]
run = ["sh", "-c", "./rebar3 shell"]

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 38804915
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mix phx.server"
